html {
    background-color:black;
}
.sub_heading{
 
    color: white;
    font-size: 55px;
    font-family: "Inter Light";
    padding-left: 620px; 
    font-kerning: 2%;
}
.sub_tag{
    
    color:white;
    font-size: 22px;
    font-family: "Source Serif Variable Light";
    padding-left: 760px;
    fopn
}
.bottom_line_0{
    
    color:white;
    font-size: 36px;
    font-family: "Inter Light";
    padding-left: 737px;
}
.imgg_1{

    padding-top: 50px;

}